.silder-container {
    gap: 56px;
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backpacks-heading{
    font-family: "Encode Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color:#E5DFD9;
    display: flex;
    align-items: center;
}

.center-icon {
    margin: -1 10px;
    color: #E5DFD9;
    /* gap: 0px;
    opacity: 0px; */
    font-size: 28px;
}

.backpacks-products {
    width: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-heading {
    font-family: "Encode Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #E5DFD9;
}

.product-container{
    /* display: grid;
    grid-template-columns: repeat(9, 1fr); */
    /* gap: 20px; */
    color: #e5dfd9;
    padding: 18px;
  }

  .productslist-container {
    width: 200x;
    gap: 0px;
  }
  
  .image-bag {
    height: 90px;
    width: 90px;
  }
  
  .bag-name {
    text-align: center;
    font-family: 'Encode Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 20.25px;
    letter-spacing: 0.1em;
    color: #E5DFD9;
    width: 90px;
  }